<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget id="com.sotonggames.rainbowrex" version="0.0.4" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>RainbowRex</name>
  <description>
        A Colour Picker Game by Jared Tong
    </description>
  <author email="hello@jaredtong.com" href="http://rainbowrex.herokuapp.com">
      Jared Tong
    </author>
  <content src="index.html"/>
  <access origin="*"/>
  <preference name="webviewbounce" value="false"/>
  <preference name="UIWebViewBounce" value="false"/>
  <preference name="DisallowOverscroll" value="true"/>
  <preference name="android-minSdkVersion" value="21"/>
  <preference name="BackupWebStorage" value="none"/>
  <preference name="SplashScreen" value="screen"/>
  <preference name="SplashScreenDelay" value="3000"/>
  <feature name="StatusBar">
    <param name="ios-package" value="CDVStatusBar" onload="true"/>
  </feature>
  <platform name="android">
    <icon src="resources/android/icon/drawable-ldpi-icon.png" density="ldpi"/>
    <icon src="resources/android/icon/drawable-mdpi-icon.png" density="mdpi"/>
    <icon src="resources/android/icon/drawable-hdpi-icon.png" density="hdpi"/>
    <icon src="resources/android/icon/drawable-xhdpi-icon.png" density="xhdpi"/>
    <icon src="resources/android/icon/drawable-xxhdpi-icon.png" density="xxhdpi"/>
    <icon src="resources/android/icon/drawable-xxxhdpi-icon.png" density="xxxhdpi"/>

    <splash src="resources/android/splash/drawable-land-hdpi.png" density="land-hdpi"/>
    <splash src="resources/android/splash/drawable-land-ldpi.png" density="land-ldpi"/>
    <splash src="resources/android/splash/drawable-land-mdpi.png" density="land-mdpi"/>
    <splash src="resources/android/splash/drawable-land-xhdpi.png" density="land-xhdpi"/>
    <splash src="resources/android/splash/drawable-land-xxhdpi.png" density="land-xxhdpi"/>
    <splash src="resources/android/splash/drawable-land-xxxhdpi.png" density="land-xxxhdpi"/>

    <splash src="resources/android/splash/drawable-port-hdpi.png" density="port-hdpi"/>
    <splash src="resources/android/splash/drawable-port-ldpi.png" density="port-ldpi"/>
    <splash src="resources/android/splash/drawable-port-mdpi.png" density="port-mdpi"/>
    <splash src="resources/android/splash/drawable-port-xhdpi.png" density="port-xhdpi"/>
    <splash src="resources/android/splash/drawable-port-xxhdpi.png" density="port-xxhdpi"/>
    <splash src="resources/android/splash/drawable-port-xxxhdpi.png" density="port-xxxhdpi"/>
  </platform>
</widget>
